* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
  }
  
  html {
    height: 100%;
    width: 100%;
  }

  
body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

  .container1{
    display: flex;
    width: 300px;
    height: 500px;
    position: relative;
    backface-visibility: hidden;
  }

  .pf{
    background-color: #28584A;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 5px 3px #372f3ac4;
    transition: 1s;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 25px;
  }

  /* .pf:hover{ */
    /* box-shadow: 0 3px 15px 3px #02567abf; */
  /* } */

  .pb{ 
    background-color: #86e8b4a8;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center; 
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 25px;
  }


  #girl{
    border-radius: 100px;
    position: absolute;
    top: 18%;
    left: 25%;
    max-width: 100%;
}

#name{
    position: absolute;
    top: 50%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

}

#職位{
    position: absolute;
    top: 58%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 35px;
}
  #email{
    position: absolute;
    top: 70%;
    left: 45%;

  }

  #tel{
   position: absolute;
   top: 85%;
   left: 45%;
  }

  

  .turn {
    position: relative;   
    width: 300px;    
    }

.phone{
   
    display: inline-block;
}

.mail{
  display: inline-block;
}

#number{
    position: absolute;
    bottom: 16px;
    left: 40%;
    font-size: 18px;
    color: #04383c;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#email1{
    position: absolute;
    bottom: 90px;
    left: 21%;
    font-size: 18px;
    color: #04383c;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#number{
    display: none;
}
.phone:hover #number{
    display: block;
}

#email1{
  display: none;
}

.mail:hover #email1{
  display: block;
}

.turn>div {
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
}

.pf {
    transform: rotateY(0deg);
}

.pb {
    transform: rotateY(-180deg);
    transition: 1s;
}

.turn:hover .pf {
    transform: rotateY(180deg);
}

.turn:hover .pb {
    transform: rotateY(0deg);
}
